body {
}

form {
    border-radius: 2px;
    box-shadow: 2px 2px 2px #cdcdcd;
    color: #404040;
    font-size: 16px;
    padding: 30px 20px;
}

form legend{
    color: #404040;
    font-size: 42px;
    font-weight: normal;
    line-height: 1;
    text-shadow: 0 3px 0 rgba(0,0,0,0.1);

}
.panel-primary{
    box-shadow: 4px 4px 4px #cdcdcd;
}

.btn-primary{
    box-shadow: 2px 2px 2px #cdcdcd;
}

.btn-default{
    box-shadow: 2px 2px 2px #cdcdcd;
}


.wizard .active {
    background: #007ACC;
    color: #fff;
}
