﻿<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <title>Logical Product Management</title>
    <link rel="icon" href="images/favicon.png">
    <!-- Style sheets -->
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/toastr.min.css" rel="stylesheet"/>
    <link href="css/angular-chart.css" rel="stylesheet"/>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
    <link href="css/docs.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet"/>

    <!-- Library Scripts -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.js"></script>
    <script src="js/angular-mocks.js"></script>
    <script src="js/angular-ui-router.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/mask.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.13.3.min.js"></script>
    <script src="js/toastr.min.js"></script>
    <script src="js/Chart.min.js"></script>
    <script src="js/angular-chart.min.js"></script>

    <!-- Angular Material -->
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>


    <!-- Firebase -->
    <script src="bower_components/firebase/firebase.js"></script>

    <!-- AngularFire -->
    <script src="bower_components/angularfire/dist/angularfire.min.js"></script>

    <!-- Application Script -->
    <script src="app/app.js"></script>

    <!-- Services -->
    <script src="common/services/common.services.js"></script>
    <script src="common/services/productResource.js"></script>
    <script src="common/services/productResourceMock.js"></script>
    <script src="common/services/productService.js"></script>

    <!-- Product Controllers -->
    <script src="app/products/productListCtrl.js"></script>
    <script src="app/products/productDetailCtrl.js"></script>
    <script src="app/products/productEditCtrl.js"></script>

    <!-- Price Controllers -->
    <script src="app/prices/priceAnalyticsCtrl.js"></script>

    <script src="app/UserController.js"></script>
    <script src="app/Users.js"></script>
    <script src="app/UserService.js"></script>

</head>


<body ng-app="productManagement" layout="row" ng-controller="UserController as vm">
<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')"
            ng-show="vm.loggedin">

    <header class="nav-header">
        <a ui-sref="home" class="docs-logo" ng-click="vm.toggleSideNav('gt-sm')">
            <img src="images/logo-mark-white.png"/>

            <h1 class="docs-logotype md-heading">Logical Product Management</h1>
        </a>
    </header>

    <md-content flex role="navigation">
        <ul class="docs-menu">
            <li>
                <md-button ui-sref="productList" ng-click="vm.toggleSideNav('gt-sm')">
                    <i class="glyphicon glyphicon-list"></i>
                    Product List</md-button>
                <md-button ui-sref="productEdit.info({productId:0})" ng-click="vm.toggleSideNav('gt-sm')">
                    <i class="glyphicon glyphicon-plus"></i>
                    Add Product
                </md-button>
                <md-button ui-sref="priceAnalytics" ng-click="vm.toggleSideNav('gt-sm')">
                    <i class="glyphicon glyphicon-stats"></i>
                        Price Analysis
                </md-button>
                <md-button ng-href="#" ng-click="vm.toggleSideNav('gt-sm'); vm.logout()">Log Out</md-button>
            </li>

        </ul>

    </md-content>

</md-sidenav>


<div layout="column" tabIndex="-1" role="main" flex>
    <md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar" ng-show="vm.loggedin">

        <div class="md-toolbar-tools docs-toolbar-tools" ng-click="vm.toggleSideNav()" tabIndex="-1">
            <md-button class="md-icon-button" hide-gt-sm aria-label="Toggle Menu">
                <md-icon md-svg-src="images/ic_menu_24px.svg"></md-icon>
            </md-button>
            <div layout="row" flex class="fill-height">

                <h2 class="md-toolbar-item md-breadcrumb md-headline">
                    <span class="md-breadcrumb-page">Products</span>
                </h2>

                <span flex></span> <!-- use up the empty space -->

                <div class="md-toolbar-item docs-tools" layout="row">
                    <md-button class="md-icon-button"
                               aria-label="Install with Bower"
                               ng-if="!currentComponent.docs.length"
                               target="_blank"
                               ng-href="https://github.com/angular/bower-material">
                        <md-tooltip>Install with Bower</md-tooltip>
                    </md-button>
                </div>

            </div>
        </div>


    </md-toolbar>


    <md-content md-scroll-y="" flex="" layout-padding="" class="ng-scope md-default-theme">

        <div ui-view></div>
    </md-content>

</div>


</body>
</html>