

        <div class="text-center">
            <img src="images/logo.png" style="margin: 20px"/>
        </div>
    <md-whiteframe class="md-padding md-default-theme md-whiteframe-24dp" layout="row" layout-align="center center">
        <md-card class="md-default-theme" style="min-width: 300px;">
            <md-card-content>
                <h2 class="md-title">Login</h2>
                <md-input-container flex="" class="md-default-theme">
                    <label for="input_19">Email</label>
                    <input ng-model="vm.email" class="ng-pristine ng-untouched ng-valid md-input" id="input_19" tabindex="0" aria-invalid="false" value="John@fkjs.com">
                </md-input-container>
                <md-input-container flex="" class="md-default-theme">
                    <label for="input_20">Password</label>
                    <input ng-model="vm.password" class="ng-pristine ng-untouched ng-valid md-input" id="input_20" tabindex="0" aria-invalid="false" type="password" value="John">
                </md-input-container>
                <p ng-if="authData">Logged in user: <strong>{{ authData.uid }}</strong></p>

            </md-card-content>
            <md-card-actions layout="row" layout-sm="column" layout-align="end center">
                <md-button class="md-raised md-primary" ng-click="vm.loginFaceBook()">Facebook Login</md-button>
                <md-button class="md-raised md-primary" ng-click="vm.register()"> register</md-button>
                <md-button class="md-raised md-primary" ng-click="vm.login()"> Login</md-button>


            </md-card-actions>
        </md-card>
    </md-whiteframe>


