<section class="demo-container md-whiteframe-z1">


    <md-toolbar class="demo-toolbar md-primary md-default-theme">
        <div class="md-toolbar-tools">
            <h3>{{vm.title}}</h3>
            <span flex=""></span>
        </div>
    </md-toolbar>

    <md-content class="md-padding">
        <section class="demo-container md-whiteframe-z1">
            <md-toolbar class="site-secondary-toolbar">
                <div class="panel-heading">Top $ Margin Products</div>
            </md-toolbar>



            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-9">
                        <canvas id="bar0"
                                class="chart chart-bar"
                                data="vm.chartAllAmount"
                                labels="vm.labelsAmount"
                                series="vm.seriesAmount"
                                height="200px"></canvas>
                    </div>

                    <div class="col-lg-3">
                        <ol class="chart-legend">
                            <li><span style="background-color: rgba(151,187,205,1)"></span>Cost</li>
                            <li><span style="background-color: rgba(220,220,220,1)"></span>Price</li>
                            <li><span style="background-color: rgba(247,70,74,1)"></span>Margin</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <section class="demo-container md-whiteframe-z1">
            <md-toolbar class="site-secondary-toolbar">

                <div class="panel-heading">Top % Margin Products</div>
            </md-toolbar>

            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-9">
                        <canvas id="bar1"
                                class="chart chart-bar"
                                data="vm.dataPercent"
                                labels="vm.labelsPercent"
                                series="vm.seriesPercent"
                                legend="false"
                                height="200px"></canvas>
                    </div>
                    <div class="col-lg-3">
                        <ol class="chart-legend">
                            <li><span style="background-color: rgba(151,187,205,1)"></span>% Margin</li>
                        </ol>
                    </div>
                </div>

            </div>
</section>

    </md-content>
</section>