
    <section class="demo-container md-whiteframe-z1">

        <md-toolbar class="demo-toolbar md-primary md-default-theme">
            <div class="md-toolbar-tools">
                <h3>Product
                    List</h3>
            </div>
        </md-toolbar>

    <div class="table-responsive">
        <table class="table">

            <thead>
            <tr>
                <td>

                    <md-button
                            class="md-raised md-primary"
                            style="width: 130px"
                            ng-click="vm.toggleImage()"><i class="glyphicon glyphicon-eye-open"></i>
                        {{vm.showImage ? "Hide" : "Show"}} Image
                    </md-button>
                </td>
                <td>
                    <md-button
                            class="md-raised md-primary"
                            ng-click="reverse=!reverse;vm.order('productName',reverse)">
                        <i class="glyphicon glyphicon-sort"></i> Product
                    </md-button>
                </td>
                <td>
                    <md-button
                            class="md-raised md-primary"
                            ng-click="reverse=!reverse;vm.order('productCode',reverse)">
                        <i class="glyphicon glyphicon-sort"></i> Code
                    </md-button>
                </td>
                <td>
                    <md-button
                            class="md-raised md-primary"
                            ng-click="reverse=!reverse;vm.order('releaseDate',reverse)">
                        <i class="glyphicon glyphicon-sort"></i> Available
                    </md-button>
                </td>
                <td>
                    <md-button
                            class="md-raised md-primary"
                            ng-click="reverse=!reverse;vm.order('price',reverse)">
                        <i class="glyphicon glyphicon-sort"></i> Price
                    </md-button>
                </td>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="product in vm.products">
                <td>
                    <img class="center-block img-responsive" ng-if="vm.showImage"
                         ng-src="{{product.imageUrl}}"
                         style="width:50px;margin-left:5px"
                         title="{{product.productName}}">
                </td>
                <td><a ui-sref="productDetail({productId: product.$id})">{{product.productName}}</a></td>
                <td>{{ product.productCode }}</td>
                <td>{{ product.releaseDate | date }}</td>
                <td>{{ product.price | currency }}</td>
                <td>
                    <md-button class="md-raised md-primary"
                       ui-sref="productEdit.info({productId: product.$id})"
                       style="margin: 10px; min-width: 36px; overflow:inherit">
                        <i class="glyphicon glyphicon-cog"></i> Edit
                    </md-button>

                    <md-button class="md-raised md-warn"
                               style=" margin: 10px; min-width: 36px"
                               ng-click="vm.showConfirm($event, {productId: product.$id})"
>
                        <i class="glyphicon glyphicon-remove"></i>
                    </md-button>
                </td>

            </tr>
            </tbody>
        </table>
    </div>

</section>