<section class="demo-container md-whiteframe-z1">

    <md-toolbar class="demo-toolbar md-primary md-default-theme">
        <div class="md-toolbar-tools">
            <h3>{{vm.title}}</h3>
            <span flex=""></span>
        </div>
    </md-toolbar>

        <md-content class="md-padding">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Basic Information" ui-sref=".info">
                    <md-content class="md-padding">
                        <div ui-view></div>
                    </md-content>
                </md-tab>
                <md-tab label="Price Details" ui-sref=".price">
                    <md-content class="md-padding">
                        <div ui-view></div>
                    </md-content>
                </md-tab>
                <md-tab label="Search Tags" ui-sref=".tags">
                    <md-content class="md-padding">
                        <div ui-view></div>
                    </md-content>
                </md-tab>
            </md-tabs>

        </md-content>

</section>
