<section class="demo-container md-whiteframe-z1">
    <md-toolbar class="site-secondary-toolbar">
        <div class="panel-heading">Basic Product Info.</div>
    </md-toolbar>

    <form name="productForm" novalidate>

        <div layout layout-sm="column">

            <md-input-container flex>
                <label>Product Name</label>
                <input md-maxlength="25" ng-minlength="4" required name="name" ng-model="vm.product.productName"
                       required>

                <div ng-messages="projectForm.name.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                    <div ng-message="minlength">The name has to be longer than 4 characters long.</div>
                </div>
            </md-input-container>

            <md-input-container flex>
                <label>Product Code</label>
                <input ng-model="vm.product.productCode"
                       ui-mask="AAA-****"
                       required
                       name="inputProductCode">

                <div ng-messages="projectForm.inputProductCode.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                </div>
            </md-input-container>

        </div>

        <div layout layout-sm="column">
            <md-input-container flex>
                <label>Availability Date</label>
                <input type="date" ng-model="vm.tempDate">
            </md-input-container>
        </div>
        <md-input-container flex>
            <label>Description</label>
            <textarea ng-model="vm.product.description" columns="1" md-maxlength="150"></textarea>
        </md-input-container>
    </form>

</section>


<div class="form-group" align="right">
    <md-button class="md-raised md-primary"
               ui-sref="productEdit.info({productId: product.$id})"
               ng-click="vm.submit(productForm.$valid)">
        <i class="glyphicon glyphicon-floppy-save"></i> Save
    </md-button>
    <md-button class="md-raised"
               ui-sref="productEdit.info({productId: product.$id})"
               ng-click="vm.cancel()">
        <i class="glyphicon glyphicon-remove"></i> Cancel
    </md-button>
</div>

</fieldset>
</form>