<div class="panel panel-primary">

    <div class="panel-heading" style="font-size: x-large">
        Product Detail: {{vm.product.productName}}
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-2" ng-click="">Name:</div>
                    <div class="col-md-6">{{vm.product.productName}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2" ng-click="">Code:</div>
                    <div class="col-md-6">{{vm.product.productCode}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2" ng-click="">Description:</div>
                    <div class="col-md-6">{{vm.product.description}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2" ng-click="">Availability:</div>
                    <div class="col-md-6">{{vm.product.releaseDate|date}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2" ng-click="">Cost:</div>
                    <div class="col-md-6">{{vm.product.cost|currency}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2" ng-click="">Price:</div>
                    <div class="col-md-6">{{vm.product.price|currency}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2" ng-click="">Margin:</div>
                    <div class="col-md-6">{{vm.marginPercent| number:0}}%</div>
                </div>
                <div class="row">
                    <div class="col-md-2" ng-click="">Tags:</div>
                    <div class="col-md-6">{{vm.product.tagList}}</div>
                </div>
            </div>

            <div class="col-md-6">
                <img class="center-block img-responsive"
                        style="width: 200px;margin-left: 2px;"
                        ng-src="{{vm.product.imageUrl}}"
                        title="{{vm.product.productName}}">
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <a class="btn btn-default"
           ui-sref="productList"
                style="width: 80px">
            <I class="glyphicon glyphicon-chevron-left"></I>
            Back
        </a>
        <a class="btn btn-primary"
           ui-sref="productEdit.info({productId: vm.product.$id})"
                style="width: 80px;margin-left: 10px">
            <I class="glyphicon glyphicon-cog"></I>
            Edit
        </a>
    </div>

</div>
